@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
}

@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}

@media only screen and (max-width: 320px) {
    /*header {
        background: rgba(0, 0, 0, 0) url("../images/hero-photo-3.jpeg") no-repeat scroll -734px 39px;
    }*/

    .app-store img {

        width: 40%;
    }

    #partners .app-ranking .app-ranking-box .data-box b {
        color: #0098d6;
        display: block;
        font-size: 3em;
        line-height: 1em;
        position: relative;
    }

}

/*********************************************************************************************************

**********************************************************************************************************/

@media only screen and (max-width: 480px) {
    .navbar-brand > img {
        margin-left: 0em;
        margin-top: 4px;
        width: 111px;
    }

    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .slogan h1 {
        font-size: 20px;
        line-height: 35px;
        margin-left: 0;
        max-width: 590px;
        padding-top: 0.6em;
        text-align: center;
        font-weight: bold;
    }

    .fixed-header {
        opacity: 1 !important;
    }

    .header_top {
        display: none !important;
    }

    body h2 {
        font-size: 1.57778em;
    }

    .logo {
        display: inline-block;
    }

    .logo img {
        width: 50%;
        margin-top: -150px;
        margin-bottom: 10px;
    }



    header {
        background: url("../images/hero-photo-3.jpeg") no-repeat -400px;
        background-size: cover;


    }

    .before-you-shop .promo-box h2 {
        line-height: 1.2em;
        margin-bottom: 0.47em;
        margin-left: auto;
        margin-right: auto;
        max-width: 220px;
    }

    .before-you-shop .phone-box img {
        left: -20px;
        width: 115%;
        position: relative;
        margin-top: 40px;
    }

    .before-you-shop .phone-box {
        height: 250px;
        position: relative;
    }


    .at-the-store .bubble-panel h5 > span {
        top: 51%;
    }

    .header_content {
        font-size: 12px;
        margin-top: 242px;
        text-align: center;
    }

    .header_bottom img {
        display: inline-block;
        margin: 3px;
        width: 38px;
    }

    .before-you-shop {
        text-align: center;
    }

    .bubble {
        text-align: center;
        width: 89px;
        margin: 18px 0px;
    }

    .b-1st {
        left: 0;
        position: relative;
    }

    .app-store {
        margin: 0 auto;
        width: 100%;
    }

    .learn-more {
        display: none;

    }

    .promo-box h2 {
        line-height: 1.2em;
        margin-bottom: 0.47em;
        margin-left: auto;
        margin-right: auto;
        max-width: 0px;
    }

    .promo-box h2 {
        line-height: 1.2em;
        font-size: 1.77778em;
    }

    .introduction-panel-path {
        background: none;
    }

    .at-the-store {
        text-align: center;
        border-bottom: 1px solid;
    }

    .at-the-store .promo-box h2 {
        margin-left: auto;
    }

    .at-the-store .bubble-panel {
        width: 100%;
    }

    .at-the-store .bubble-panel h5 {
        font-size: 14px !important;
        font-weight: normal !important;
        line-height: 1.2em !important;
        position: relative !important;
        text-align: center !important;
        margin-left: -230px !important;
        top: 18px !important;
        width: 100% !important;
    }

    .at-the-store .bubble-panel img {
        margin: 0 0 1em;
        padding: 0;
    }

    #partners .app-ranking .app-ranking-box .data-box b {
        color: #0098d6;
        display: block;
        font-size: 3em;
        line-height: 1em;
        position: relative;
    }

    .hidden-sm {
        display: none;
    }

    .gift-cards-fan {
        text-align: center;
    }

    .gift-cards-fan img {
        margin: 10% auto;
        width: 85%;
    }

    .counter {
        margin: 2em auto;
        text-align: center;
        width: 100%;
    }

    .partners-logos img.full-photo {
        width: 100%;
    }

    .footer-logo img {
        width: 40%;
    }

    .footer-menu {
        float: none;
        height: 125px;
        margin: 30px auto;
        width: 100%;
    }

    .footer-menu ul {
    }

    .footer-menu ul li {
        display: inline-block;
        float: none;
        margin: 3px 5px;
    }

    .footer-menu ul li a {
        font-size: 14px;
    }

    .app-footer .footer-social a {
        margin-right: 25px;
    }

    .app-footer .footer-social img {
        width: 29px;
    }

    #partners .incrementality-results .incrementality-stats .primary-stats {
        background: transparent;
    }

    #how-it-works .hero-content img {
        width: 100%;
    }

    #how-it-works .steps-description .phone-box img {
        max-width: 271px;
    }

    #contact .line {
        display: none;
    }

    #how-it-works .steps-description .phone-box {
        text-align: center;
    }

    .hero-panel {
        display: table;
        width: 100%;
    }

    #how-it-works .hero-panel {

        height: 300px !important;
    }

    #partners .hero-subpanel h2 {
        line-height: 1.4em;
        margin: 6em auto 2em;
        max-width: 600px;
        text-align: center;
    }

    #partners .app-ranking h2 {
        font-size: 1.2em;
        margin: 4em auto;
        max-width: 680px;
        text-align: center;
    }

    #how-it-works .steps-description .illustrations-container .illustrations {
        bottom: -105px;
        left: 0;
        position: absolute;
        vertical-align: bottom;
    }

    #how-it-works .steps-description::after {
        background-color: #f1c36c;
        bottom: -106px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    #how-it-works .steps-description {
        margin-bottom: 9em;
        margin-top: 5em;
        position: relative;
    }

    #how-it-works .steps-description h2 {
        margin-bottom: 60px;
        margin-top: 4em;
        position: relative;
        text-align: center;
    }

    #how-it-works .steps-description h2::after {
        background-color: #f1c36c;
        bottom: -20px;
        content: "";
        height: 6px;
        left: 50%;
        position: absolute;
        width: 100px;
    }

    #how-it-works .steps-description .illustrations-container .illustrations {
        display: none;
    }


}

/*********************************************************************************************************

**********************************************************************************************************/
@media (min-width: 481px) and (max-width: 767px){
    .logo {
        display: inline-block;
    }

    .logo img {
        width: 40%;
        margin-top:  20px;
        margin-bottom: 10px;

    }


    .slogan h1 {
        font-size: 26px;
        line-height: 35px;
        margin-left: 0;
        max-width: 590px;
        padding-top: 0.6em;
        text-align: left;
        font-weight: bold;
    }


    header {
        background: url("../images/hero-photo-3.jpeg") no-repeat -400px;
        background-size: cover;


    }

    .before-you-shop .promo-box h2 {
        line-height: 1.2em;
        margin-bottom: 0.47em;
        margin-left: auto;
        margin-right: auto;
        max-width: 220px;
    }

    .before-you-shop .phone-box img {
        left: -20px;
        width: 105%;
        position: relative;
        margin-top: 40px;
    }

    .before-you-shop .phone-box {
        height: 300px;
        position: relative;
    }

    .at-the-store {
        text-align: center !important;
        border-bottom: 1px solid !important;
    }

    .at-the-store .promo-box h2 {
        margin-left: auto !important;
    }

    .at-the-store .bubble-panel {
        width: 100% !important;
    }

    .at-the-store .bubble-panel h5 {
        font-size: 14px !important;
        font-weight: normal !important;
        line-height: 24px !important;
        position: relative !important;
        text-align: center !important;
        top: 21px !important;
        width: 100%!important;
        margin-left: 0px !important;
    }

    .at-the-store .bubble-panel img {
        margin: 0 0 1.1em !important;
        padding: 0;
    }
    .at-the-store .bubble-panel h5 {
        left: 1px!important;
        margin-bottom: 45px !important;
    }

    .at-the-store .bubble-panel {
        position: relative;
        text-align: center;
    }

    .at-the-store .promo-box {
        font-weight: 100;
        margin-bottom: 1em;
        text-align: center;
    }

    .at-the-store .promo-box {
        margin-bottom: 5em;
    }
    .at-the-store .promo-box p {
        font-size: 1.2em;
        font-weight: 100;
        line-height: 1.3em;
        text-align: center;
        margin-left: auto;
    }

    .bubble {
        text-align: center;
        width: 150px;
        margin-bottom: 20px;
        margin-left: 35%;
        margin-right: 35%;
    }

    .introduction-panel-path {
        background: transparent;

    }

    .at-the-store .phone-box img {
       display: none;
    }

    .gift-cards-fan img{
        margin-top: 60px;
        max-width: 100%;
    }

    #how-it-works .steps-description .phone-box img {
        max-width: 260px;
        position: relative;
        top: 40px;
        z-index: 1;
    }

    #how-it-works .steps-description .phone-box img {
        margin-left: 80px;
        left: 0;
    }

    #how-it-works .steps-description .phone-box.phone-box-left img {
        margin-left: 0;
        margin-right: 80px;
    }




}


/*********************************************************************************************************

**********************************************************************************************************/

@media only screen and (min-device-width: 481px) and (max-device-width: 640px) {
    /*** IPHONE ****/
    /**.fixed-header {

        opacity: 1 !important;
    }

    .header_top {
        display: none !important;
    }

    body h2 {
        font-size: 1.57778em;
    }

    .logo {
        display: none;
    }




    header {
        background: url("../images/hero-photo-3.jpeg") no-repeat -400px;
        background-size: cover;


    }

    .header_content {

        margin-top: 300px;

    }

    .header_bottom img {
        float: none;
        margin: 0;
        width: 8%;
    }

    a.learn-more {
        color: #fff;
        cursor: pointer;
        font-size: 1.5em;
        font-weight: 500;
        letter-spacing: 2px;
        margin-left: 5%;
    }

    .introduction-panel-path {
        background: transparent;
    }

    /*
    .at-the-store .bubble-panel {
        text-align: center;
        margin: 0 0 4em 0;
        position: relative;
        left: 0;
    }

    .bubble-panel .bubble {
        width: 40%;
    }*/

    /*.at-the-store .bubble-panel h5 {
        font-size: 1em;
        font-weight: normal;
        left: 0;
        position: relative;
        text-align: center;
        top: 39px;
        width: 78%;
    }*/

    /*.at-the-store {
        text-align: center !important;
        border-bottom: 1px solid !important;
    }

    .at-the-store .promo-box h2 {
        margin-left: auto !important;
    }

    .at-the-store .bubble-panel {
        width: 100% !important;
    }

    .at-the-store .bubble-panel h5 {
        font-size: 14px;
        font-weight: normal;
        line-height: 24px;
        left: 0;
        position: relative;
        text-align: center;
        top: 21px;
        width: 100%;
    }

    .at-the-store .bubble-panel img {
        margin: 0 0 1.1em !important;
        padding: 0;
    }
    .at-the-store .bubble-panel h5 {
        left: 1px;
        margin-bottom: 45px;
    }

    .at-the-store .bubble-panel {
        position: relative;
        text-align: center;
    }

    .at-the-store .promo-box {
        font-weight: 100;
        margin-bottom: 1em;
        text-align: center;
    }

    .at-the-store .promo-box {
        margin-bottom: 5em;
    }
    .at-the-store .promo-box p {
        font-size: 1.2em;
        font-weight: 100;
        line-height: 1.3em;
        text-align: center;
        margin-left: auto;
    }

    .before-you-shop {
        text-align: center;
    }

    .b-1st {

        width: 25%;
        margin-bottom: 3em;

    }

    .before-you-shop .phone-box img {
        margin-top: 2.5em;
        width: 800px;
        left: -598px;
        position: absolute;

    }

    .at-the-store .promo-box h2 {
        text-align: center;
        max-width: none;
    }

    .at-the-store .promo-box p {
        font-size: 1.2em;
        font-weight: 100;
        line-height: 1.3em;
        text-align: center;
        margin-left: auto;
    }

    .bubble {
        text-align: center;
        width: 150px;
        margin-bottom: 20px;
        margin-left: 35%;
        margin-right: 35%;
    }

    .introduction-panel-path {
        background: transparent;

    }

    .at-the-store .phone-box img {
        display: none;
    }

    /*.at-the-store {
        float: left;
        margin-top: 10em;
        min-height: 1233px;
    }*/

    /*.gift-cards {
        float: left;
        padding-top: 2.5em;
        position: relative;
        width: 100%;
    }

    /*.gift-cards .bubble-panel .bubble {
        width: 29%;
    }*//*

    .gift-cards .full-photo {
        width: 100%;
    }

    .map-stats {
        text-align: center;
    }

    .counter {
        margin: 2em auto;
        width: 100%;
    }

    .partners-logos .full-photo {
        width: 100%;
    }

    .footer-menu {
        float: none;
        height: 72px;
        margin: 30px auto;
        text-align: center;
        width: 100%;
    }

    .footer-menu ul li {
        float: left;
        margin: 0;
        padding: 8px 21px;
    }

    .footer-menu ul li a, .footer-menu ul li a:hover {

        padding: 0;
    }

    .app-store {

        width: 100%;
    }

    #partners .app-ranking .app-ranking-box .data-box b {

        font-size: 4em;

    }

    .ranking-graphics {

        width: 100%;
    }*/


}

/*********************************************************************************************************

**********************************************************************************************************/

@media only screen and (min-width: 768px ) and (max-width: 1024px) {

    .nav-logo img {

        width: 100%;
        display: block;
    }

    #partners .app-ranking .app-ranking-box .data-box b {
        color: #0098d6;
        display: block;
        font-size: 4em;
        line-height: 1em;
        position: relative;
    }

    /* default iPad screens */
    .header_content {

        text-align: center;
    }


    .logo {
        display: inline-block;
    }

    .logo img {
        width: 40%;
        margin-top:  -160px;
        margin-bottom: 10px;

    }

    .slogan h1 {
        color: #1f1f1f;
        font-size: 1.7em;
        font-weight: bold;
        line-height: 1.35em;
        margin: 0 auto 1em;
        max-width: 450px;
        padding-top: 1em;
        position: relative;
        text-align: center;
        z-index: 10;
    }

    header {
        background: url("../images/hero-photo-3.jpeg") no-repeat -100px;
        background-size: cover;


    }

    a.learn-more {
        display: none;
    }

    .header_bottom img {
        float: left;
        margin: 11px;
        width: 6%;
    }

    .header_content {
        float: left;
        margin-top: 20em;
        width: 100%;
    }

    .introduction-panel-path {
        background: transparent url("../images/home-path-sm.svg") no-repeat scroll 183px 36px;
    }

    .at-the-store {
        float: left;
        margin-top: 116px;
    }

    .before-you-shop .phone-box img {
        left: -582px;
        position: absolute;
        top: 3px;
        width: 833px;
    }

    .at-the-store .promo-box {
        font-weight: 100;
        margin-bottom: 3em;
        text-align: center;
    }

    .menu ul li {
        float: left;
        margin: 0 12px;
    }

    .before-you-shop {

        text-align: center;

    }

    .bubble {
        margin: 20px 0;
        width: 115px;
    }

    .at-the-store .bubble-panel h5 {
        font-weight: normal;
        left: 224px;
        position: absolute;
        text-align: left;
        top: 39px;
        width: 208px;
    }

    .at-the-store .bubble-panel {
        margin-left: 5%;
    }

    .gift-cards {
        padding-top: 39.5em;
    }

    .full-photo {
        width: 100%;

    }

    .footer-menu {
        float: none;
        height: 48px;
        margin: 30px auto;
        text-align: center;
        width: 100%;
    }

    .menu ul {
        float: none;
    }

    .footer-menu ul li {
        float: left;
        margin: 0;
        padding: 8px 12px;
    }

    .footer-menu ul li a, .footer-menu ul li a:hover {

        padding: 0;
    }

    #how-it-works .steps-description .illustrations-container {
        bottom: -50px;
        position: relative;
    }

    #how-it-works .steps-description::after {
        background-color: #f1c36c;
        bottom: -51px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;

    }

    #partners .stats-box b {
        color: #0098d6;
        font-size: 1.5em;
    }

    #desk-search input[type="text"] {
        background-clip: padding-box;
        border: 1px solid #949494;
        border-radius: 2px;
        float: left;
        padding: 12px 18px 10px;
        width: 45%;
    }

    /*** UPDATE ***/
    .at-the-store .bubble-panel h5 {
        left: 215px;
        position: absolute;
        text-align: left;
        top: 53px;
        width: 150px;
    }

    .at-the-store .bubble-panel h5 {
        color: #099bd7;
        font-size: 1.3em;
        margin: 0 0 1.1em;
        padding: 0;
    }

    #how-it-works .hero-panel .hero-content h1 {
        color: #fff;
        font-size: 1.2em;
        margin-bottom: 5em;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        text-align: center;
        top: -50px;
    }

}

@media only screen and (min-width: 992px) {

    .introduction-panel-path {
        background: transparent url("../images/home-path-lg.svg") no-repeat scroll 152px 106px;
    }

    .full-photo {
        width: 100%;
    }


    #how-it-works .steps-description::after {

        bottom: -51px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    #how-it-works .steps-description .illustrations-container .illustrations {
        bottom: -51px;
        left: 0;
        position: absolute;
        vertical-align: bottom;
    }

    /* for sumo sized (mac) screens */
}

/*********************************************************************************************************

**********************************************************************************************************/

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* For landscape layouts only */
}

/*********************************************************************************************************

**********************************************************************************************************/

@media only screen and(max-width: 1300px) {

    .at-the-store .bubble-panel h5 {
        font-size: 18px;
        font-weight: normal;
        left: 228px;
        position: absolute;
        text-align: left;
        top: 62px;
        width: 260px;
    }

    /* styles for browsers larger than 960px; */
}

/*********************************************************************************************************

**********************************************************************************************************/

/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-device-width: 480px) {

}

@media only screen and (min-device-width: 481px)
and (max-device-width: 1024px) {

    .menu {
        float: right;
        width: 70%;
    }

    .b-1st {
        left: 28%;
        position: absolute;
    }
}

/*********************************************************************************************************

**********************************************************************************************************/

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    .menu {
        float: right;
        width: 70%;
    }

    .b-1st {
        left: 28%;
        position: absolute;
    }

    .full-photo {

        width: 90%;
    }

    .promo-box {

        text-align: center;
    }

}