body{
	text-align: center;
	background: #0093C6; // #00ECB9;
    font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;

}

@font-face {
    font-family: "font-feetit";
    src: url(../font/HelveticaNeue-Light.otf) format("truetype");
}

h1{
    font-family: 'font-feetit',sans-serif;
  color: #FFFFFF;
  font-weight: 100;
  font-size: 55px;
  margin: 20px 0px 50px;
}

#clockdiv{
    font-family: 'font-feetit', sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 70px;
}

#clockdiv > div{
	padding: 5px;
	border-radius: 3px;
	background: #0093C6;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #0093C6;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 18px;
}
/*******************************
       walking foot cycle
*******************************/


.contain-animation {
    height: 350px;
    margin-top: 130px;
}

.contain-bear {
    position: relative;
    margin: -50px auto;
    width: 575px;
    height: 200px;
}

.cover {
    position: absolute;
    top: -40px;
    left: 0;
    background: #0093C6;
    height: 150px;
    width: 600px;
    animation: walk 7s steps(7, end) infinite;
    -webkit-animation: walk 7s steps(7, end) infinite;
}

@keyframes walk {
    to {
        transform: translateX(675px);
    }
}

@-webkit-keyframes walk {
    to {
        -webkit-transform: translateX(675px);
    }
}
